<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path%></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path %></li>
  <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


<h1>Attachments#create</h1>
<p>Find me in app/views/attachments/create.html.erb</p>
